__pycache__/
*.pyc
.pytest_cache/
.env
venv/
.venv/
dist/
build/
.dvc/config
data/raw/raw_data.csv.dvc
data/raw/Xente_Variable_Definitions (1).csv
.dvc/config
.dvc/cache/files/md5/17/2a6c2400e07277542fb625121c8dda
.dvc/tmp/btime
.dvc/tmp/rwlock.lock
data/raw/raw_data.csv.dvc
.dvc/tmp/lock
.dvc/tmp/rwlock
data/raw/raw_data.csv
data/raw/Xente_Variable_Definitions (1).csv
.dvc/config.local
data/processed/processed_data.csv
data/processed/customer_rfm_segments_20251213_160325.csv
data/processed/rfm_segments.csv
data/processed/features/customer_rfm_segments_20251213_160220.csv
data/processed/features/customer_rfm_segments_20251213_160059.csv
data/processed/features/customer_rfm_segments_20251213_160239.csv
outputs/rfm_analysis_report.txt
